@model Student

<h4>Tickets</h4>
<table class="table table-sm">
    <thead>
        <tr>          
            <th>Issue</th>
            <th>Created</th>  
            <th>Active</th>       
            <th>Actions</th>  
        </tr>
    </thead>
    <tbody>
        @if (Model.Tickets.Count == 0)
        {
            <tr>              
                <td colspan="4">No tickets...</td>
            </tr>
        }
        else
        {
            @foreach(var t in Model.Tickets) {
                <tr>             
                    <td>@t.Issue</td>
                    <td>@t.CreatedOn</td>  
                    <td>                       
                      
                            <i class="bi bi-bell-fill" asp-condition="@t.Active"></i>
                        
                            <i class="bi bi-bell-slash" asp-condition="@(!t.Active)"></i>
                                      
                    </td>
                  
                    <td>
                        
                            <a asp-action="TicketDelete" asp-route-id="@t.Id" class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash-fill" title="delete ticket" asp-condition="@t.Active"></i>
                                <span class="ms-1 d-none d-md-inline">Delete</span>    
                            </a>
                        
                            <!-- use button to allow use of disable attribute -->
                            <button disabled class="btn btn-sm btn-outline-warning">
                                <i class="bi bi-trash-fill" title="delete ticket disabled" asp-condition="@(!t.Active)"></i>
                                <span class="ms-1 d-none d-md-inline">Delete</span>    
                            </button>
                        
              
                            <a asp-action="TicketEdit" asp-route-id="@t.Id" class="btn btn-sm btn-outline-dark">
                                <i class="bi bi-pen-fill" title="edit ticket" asp-condition="@t.Active"></i>
                                <span class="ms-1 d-none d-md-inline">Edit</span>    
                            </a>
                        
                            <!-- use button to allow use of disable attribute -->
                            <button disabled class="btn btn-sm btn-outline-warning">
                                <i class="bi bi-pen-fill" title="edit ticket disabled" asp-condition="@(!t.Active)"></i>
                                <span class="ms-1 d-none d-md-inline">Edit</span>    
                            </button>
                        }
                    </td>             
                </tr>
                
            }
        }
    </tbody>
</table> 